body {
	font-family: sans-serif;
	color: #114;
	line-height: 28.5px;
	font-size: 17px;
}

/* fix line height change due to sub/sup */
sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}
sub { top: 0.4em; }

div.content {
	margin: auto;
	max-width: 800px;
	border: 1px solid pink;
}

section {
	border-bottom: 1px solid blue;
}

table {
	width: 100%;
	border: 1px solid pink;
}

th, td {
	text-align: left;
	border: 1px solid pink;
}

textarea.hiddenTextArea {
width: 100%;
max-width: 800px;
height: 50px;
opacity: 0;
position: absolute;
left: -3000px;
}
/*
::-moz-selection {
    opacity:  0;
}

::selection {
    opacity: 0;
}
*/
.editor {
	position: relative;
}

.selection {
	top: 0px;
	left: 0px;
	z-index: 100;
}

.selection div {
	position: absolute;
	background: rgba(0, 128, 236, 0.51);
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}