body {
	font-family: sans-serif;
	color: #114;
}

div.content {
	margin: auto;
	max-width: 800px;
	border: 1px solid pink;
}

section {
	border-bottom: 1px solid blue;
}

table {
	width: 100%;
	border: 1px solid pink;
}

th, td {
	text-align: left;
	border: 1px solid pink;
}

textarea.hiddenTextArea {
width: 100%;
max-width: 800px;
height: 50px;
opacity: 0;
position: absolute;
left: -3000px;
}